<!DOCTYPE html>
<html lang="en">
    <head>
        <title>M.Restine, W.D.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class='container'>
            <nav class='navbar navbar-inverse'>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
                            <span class="sr-only">Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#top">M.Restine</a>
                    </div>
                    <div class="collapse navbar-collapse" id="mobile-nav">
                        <ul class="nav navbar-nav">
                            <li><a href="#about">About</a></li>
                            <li><a href="#works">Works</a></li>
                            <li><a href="#forhire">Hire</a></li>
                            <li><a href="#blogs">Blogs</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class='jumbotron'>
                <h1>M.Restine</h1>
                <h3>The Web Developer</h3>
            </div>
            <div id='about'>
                <h2>About Me</h2>
                <img class='thumbnail' src='imgs/960040_10200118589606493_57223372_n.jpg'>
                <p>I have been studying and working with computers for 23 years. My first language was mIRC Scripting Language (mSL). Then I started getting curious about how websites were built. Purchased a PC Magazine and found a section with a small tutorial on how to build one using HTML. I build my first website using Notepad and a web browser. </p>
                <p>Studied computer maintenance for 7 years, network administrating for 3 years, information technology for more than 10 years, and technician for VRS for 5 years, and server infrastructure for a year. Sometimes I do two things at the same time during those years. Eventually went back to learning programming in 2009 at DeVry University, started with game and simulator programming for 4 years and created a game with fellow students as a final project.</p>
                <p>That led me back into web development again because it was my true passion and a part of my dream. Since then, I have built over 30 projects to date. I decided to start my own business, filed my business and been doing it for 2 years. Mainly did consult and fixing issues with web functionality, upgrading CMS and migrating from static to dynamic. Then at the beginning of this year, I decided to make a business change from service to app developing</p>
                <p>When I am not working on web development project, I spend time with my family, and do all fun outdoors activities: Fishing, Hunting, Camping, and Hiking. We hope to add boating one day.  I have two sons and a wife who is my best friend since High School. Also, I rock the flight simulator as hobbyist and dream of building a Boeing 737 NGX home cockpit.</p>
            </div>
            <div id='works'>
                <h2>Works</h2>
                <div id='web_app_projects'>
                    <h3>My Web Projects</h3>
                    <div id="web_apps" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#web_apps" data-slide-to="0" class="active"></li>
                            <li data-target="#web_apps" data-slide-to="1"></li>
                            <li data-target="#web_apps" data-slide-to="2"></li>
                            <li data-target="#web_apps" data-slide-to="3"></li>
                            <li data-target="#web_apps" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a href='https://codepen.io/mattrestine/full/vgxVjO' target='_blank'><img src='https://codepen.io/mattrestine/pen/vgxVjO/image/large.png' alt='The Great RGB Guessing Game'></a>
                            </div>
                            <div class="item">
                                <a href='https://codepen.io/mattrestine/full/wgRwbO' target='_blank'><img src='https://codepen.io/mattrestine/pen/wgRwbO/image/large.png' alt='Basic To-Do'></a>
                            </div>
                            <div class="item">
                                <a href='https://codepen.io/mattrestine/full/vyQKRd' target='_blank'><img src='https://codepen.io/mattrestine/pen/vyQKRd/image/large.png' alt='Random Quote Generator'></a>
                            </div>
                            <div class="item">
                                <a href='https://codepen.io/mattrestine/full/LbvRLR' target='_blank'><img src='https://codepen.io/mattrestine/pen/LbvRLR/image/large.png' alt='Wikipedia Viewer'></a>
                            </div>
                            <div class="item">
                                <a href='https://codepen.io/mattrestine/full/OWRgXq' target='_blank'><img src='https://codepen.io/mattrestine/pen/OWRgXq/image/large.png' alt='Random Color'></a>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#web_apps" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#web_apps" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id='forhire'>
                <h2>For Hire</h2>
                <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="mrestine">
                    <a class="LI-simple-link" href='https://www.linkedin.com/in/mrestine?trk=profile-badge'>Matthew Restine</a>
                </div>
                <div id='resume'>
                    <h4>Resume</h4>
                    <div id='resume_btn'>
                        <button class='btn btn-primary'>Word Doc</button>
                        <button class='btn btn-danger'>Adobe PDF</button>
                    </div>
                </div>
            </div>
            <div id='blogs'>
                <h2>Blogs</h2>
                <p>Array of blogs, display latest (3 blogs) in order</p>
            </div>
        </div>
        <script type='text/javascript' src='jquery/dist/jquery.min.js'></script>
        <script type='text/javascript' src='bootstrap/dist/js/bootstrap.min.js'></script>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    </body>
</html>