<!DOCTYPE html>
<html lang="en">
    <head>
        <title>M.Restine, W.D.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Matt Restine</h1>
        <h3>The Web Developer</h3>
    </body>
</html>