<!DOCTYPE html>
<html lang="en">
    <head>
        <title>M.Restine, W.D.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Matt Restine</h1>
        <h3>The Web Developer</h3>
        <hr>
        <ul>
            <li>M.Restine</li>
            <li>About</li>
            <li>Works</li>
            <li>Hire</li>
            <li>Blogs</li>
        </ul>
        <hr>
        <h2>About Me</h2>
        <p>Image</p>
        <p>About me paragraph</p>
        <hr>
        <h2>Works</h2>
        <h3>Website Projects</h3>
        <p>Array of projects</p>
        <h3>Web App Projects</h3>
        <p>Array of Web Apps</p>
        <hr>
        <div id='forhire'>
            <h2>For Hire</h2>
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="mrestine">
                <a class="LI-simple-link" href='https://www.linkedin.com/in/mrestine?trk=profile-badge'>Matthew Restine</a>
            </div>
            <p>Downloadable Resume (two formats)</p>
            <p>Rates if contract hire</p>
        </div>
        <hr>
        <h2>Blogs</h2>
        <p>Array of blogs, display latest (3 blogs) in order</p>
        <!-- Scripts -->
        <script type='text/javascipt' src='jquery/dist/jquery.min.js'></script>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    </body>
</html>